@page
@model SieweksCardGameVisual.Pages.BlackJackModel
@{

}
<h1 class="textcolor"> My Hand</h1>
<p1 class="textcolor">
    @foreach (var item in Model.hand1)
    {
        try
        {
            <img src="@item.imagepath" width="125" height="182" />
        }
        catch { }
    }
</p1>

<h2 class="textcolor">Value</h2>
<p1 class="textcolor">@Model.player1.value</p1>
<h1 class="textcolor">Opponent's hand</h1>
<p1 class="textcolor">
    @foreach (var item in Model.hand2)
    {
        try
        {
            <img src="@item.imagepath" width="125" height="182" />
        }
        catch { }
    }
</p1>

<h2 class="textcolor">Value</h2>
<p1 class="textcolor">@Model.player2.value</p1>
<form method="post">
    <input type="text" hidden value="hit" name="action" />
    <input class="btn-dark" value="hit"  type="submit" />
</form>

<form method="post">
    <input type="text" hidden value="fold" name="action" />
    <input class="btn-dark" value="stand" type="submit" />
</form>
