@page
@model SieweksCardGameVisual.Pages.BlackJackModel
@{

}
<div class="movedown">
<h1 class="textcolor"> @Model.name's Hand</h1>
</div>
<p1 class="textcolor">
    @foreach (var item in Model.hand1)
    {
        try
        {
            <img src="@item.imagepath" width="125" height="182" />
        }
        catch { }
    }
</p1>

<p1 class="textcolor">@Model.player1.value</p1>
<div class="movedown"></div>
<h1 class="textcolor">Opponent's hand</h1>
<p1 class="textcolor">
    @foreach (var item in Model.hand2)
    {
        try
        {
            <img src="@item.imagepath" width="125" height="182" />
        }
        catch { }
    }
</p1>
<div class="marginbottom">
    <form method="post">
        <input type="text" hidden value="hit" name="action" />
        <input class="btn-dark" value="Hit" type="submit" />
    </form>
</div>
<div class="marginbottom">
    <form method="post">
        <input type="text" hidden value="fold" name="action" />
        <input class="btn-dark" value="Stand" type="submit" />
    </form>
</div>
<div class="marginbottom">
    <form method="post">
        <input type="text" hidden value="peek" name="action" />
        <input class="btn-dark" value="Show Opponent's Card" type="submit" />
    </form>
</div>
<div class="marginbottom">
    <p class="textcolor">
        @try
        {@Model.cheatmessage}
    catch { }
    </p>
</div>
            <div class="snaptobottomleft">
                <form method="post">
                    <input type="text" hidden value="back" name="action" />
                    <input class="btn-dark" value="Back to Menu" type="submit" />
                </form>
            </div>
